@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Rubik, Arial, Times;
}

body {
  font-size: 18px;
  font-weight: 400;
  height: auto;
  overflow-x: hidden;
}
body ul {
  list-style-type: none;
}
body button {
  outline: none !important;
  border: none;
  cursor: pointer;
}
body a {
  text-decoration: none;
  color: #000;
}
body a:active, body a:hover, body avisited {
  color: #000;
}

body::before {
  display: block;
  content: "";
  height: 0;
}

.navbar {
  background-color: #fdfdfd;
  flex-direction: row;
  position: sticky;
  top: 0;
  width: 100%;
  margin-top: 2%;
  padding: 1% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.navbar .navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-brand .brand-title {
  font-size: 25px;
  font-weight: 700px;
  margin: 8%;
  color: #0B132A;
}
.navbar .list-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .list-group .list-item {
  margin: 0 5%;
}
.navbar .list-group .list-item a {
  color: #4F5665;
}
.navbar .menu-toggle {
  display: none;
}
.navbar .sidebar {
  text-align: center;
  display: none;
  width: 90%;
  padding: 1% 5%;
  background-color: #fdfdfd;
  margin: 0 5%;
  border-radius: 20px;
}
.navbar .sidebar .list-item {
  margin: 2% 0;
}
.navbar .sidebar .sing {
  margin: 5% 0;
}

.sing {
  flex-basis: 30%;
}
.sing .btn {
  background-color: transparent;
  height: 100%;
  font-weight: 700;
  font-size: 16px;
  padding: 3% 13%;
  border-radius: 30px;
  color: #0B132A;
  border: 0;
  transition: transform 0.25s;
}
.sing .btn:active {
  transform: scale(0.8);
}
.sing .btn-border {
  color: #F53838;
  border: 2px solid #F53838;
}
.sing .btn-border:hover {
  background: #F53838;
  color: #fdfdfd;
}

.list-item {
  margin: 0 5%;
}
.list-item a {
  color: #4F5665;
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: row;
    justify-content: space-around;
  }
  .navbar .sing-main,
  .navbar .list-group {
    display: none;
  }
  .navbar .menu-toggle {
    display: block;
    width: 15%;
  }
}
.container {
  width: 100%;
  height: 100vh;
  padding: 1% 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container .element {
  flex-basis: 50%;
}
.container .element h1 {
  font-size: 45px;
  font-weight: 700;
  color: #0B132A;
  margin-bottom: 3%;
}
.container .element p {
  color: #4F5665;
}
.container .element-row {
  border-radius: 10px;
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 8% 0;
  padding: 2% 0;
  text-align: center;
  box-shadow: 0 25px 20px rgba(216, 216, 216, 0.5803921569);
}
.container .element-row .col {
  flex-basis: 33%;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-wrap: nowrap;
}
.container .element-row .col span {
  text-align: left;
}
.container .element-row .col span h3 {
  color: #0B132A;
}
.container .element-row .col span p {
  color: #4F5665;
}
.container .element-row .col img {
  width: 20%;
  margin-right: 10%;
}
.container .element-row .col-center {
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
}
.container .element button {
  background: #F53838;
  padding: 2% 5%;
  margin: 4% 0;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 25px;
  border-radius: 10px;
  transition: transform 0.25s;
  box-shadow: 0 10px 18px rgba(245, 56, 56, 0.3490196078);
}
.container .element button:active {
  transform: scale(0.8);
}

@media (max-width: 500px) {
  .container .element {
    flex-basis: 100%;
  }
  .container .element-row {
    flex-wrap: wrap;
  }
  .container .element-row .col {
    flex-basis: 100%;
    justify-content: flex-start;
  }
  .container .element-row .col-center {
    border: 0;
  }
}
.features {
  width: 100%;
  padding: 1% 8%;
  display: flex;
  justify-content: space-between;
}
.features img {
  flex-basis: 50%;
}
.features .features-side {
  flex-basis: 50%;
  padding: 10% 5%;
}
.features .features-side h2 {
  color: #0B132A;
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
}
.features .features-side p {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.features .features-side ul {
  list-style-type: url(/img/ul.svg);
  margin-left: 3%;
}
.features .features-side ul li {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}/*# sourceMappingURL=style.css.map */