$dark: #0B132A;
$danger: #F53838;
$grey: #4F5665;
$light: #FFFFFF;
$shadow: #F5383859;
$light-gray: #EEEFF2;
$shadow-grey: #d8d8d894;

.container {
    width: 100%;
    padding: 2% 8%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .element {
        flex-basis: 45%;

        .btn {
            background: $danger;
            padding: 3% 8%;
            margin: 4% 0;
            color: $light;
            font-size: 16px;
            line-height: 25px;
            border-radius: 10px;
            transition: transform 0.25s;
            box-shadow: 0 10px 18px $shadow;

            &:active {
                transform: scale(0.8);
            }
        }

        h1 {
            font-size: 50px;
            font-weight: 500;
            line-height: 70px;

            strong {
                font-size: 50px;
                font-weight: 700;
                line-height: 70px;
            }
        }

        p {
            strong {
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;
            }

            font-size: 16px;
            font-weight: 400;
            line-height: 30px;
        }

        &-row {
            flex-basis: 100%;
            margin-top: 10%;
            padding: 3% 0;
            display: flex;
            justify-content: space-around;
            flex-direction: row;

            border-radius: 10px;
            box-shadow: 0px 12px 18px $shadow-grey;

            .col {
                text-align: center;
                flex-basis: 35%;

                display: flex;
                justify-content: center;

                .span {
                    text-align: left;
                    margin-left: 5%;
                }

                &-center {
                    border-left: 2px solid $light-gray;
                    border-right: 2px solid $light-gray;
                }

                img {
                    transition: transform 0.25s;

                    &:hover {
                        transform: scale(1.4);
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    .container {
        .element {
            flex-basis: 100%;

            .btn {
                padding: 2% 5%;
            }
        }
    }
}


@media (max-width: 500px) {
    .container {
        .element {
            flex-basis: 100%;

            &-row {
                flex-direction: column;
                text-align: center;

                .col {
                    flex-basis: 100%;
                    margin-top: 2%;

                    &-center {
                        border: none;
                        margin-left: 10%;
                    }

                    &:last-child {
                        margin-left: 6%;
                    }
                }
            }

            h1 {
                font-size: 25px;
                line-height: 30px;
                margin-bottom: 4%;

                strong {
                    font-size: 25px;
                    line-height: 30px;
                }
            }

            .btn {
                padding: 4% 8%;
            }
        }

        img.element {
            width: 80%;
        }
    }
}