$primary: #0B132A;
$grey: #4F5665;
$danger: #F53838;
$light: #fdfdfd;

@mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin list-item {
    margin: 0 5%;

    a {
        color: $grey;
    }
}


.navbar {
    background-color: $light;
    flex-direction: row;
    position: sticky;
    top: 0;
    width: 100%;
    margin-top: 2%;
    padding: 1% 8%;
    @include flex();
    flex-wrap: wrap;

    .navbar-brand {
        @include flex();

        .brand-title {
            font-size: 25px;
            font-weight: 700px;
            margin: 8%;
            color: $primary;
        }
    }

    .list-group {
        @include flex();

        .list-item {
            @include list-item();
        }
    }

    .menu-toggle {
        display: none;
    }

    .sidebar {
        text-align: center;
        display: none;
        width: 90%;
        padding: 1% 5%;
        background-color: $light;
        margin: 0 5%;
        border-radius: 20px;

        .list-item {
            margin: 2% 0;
        }

        .sing {
            margin: 5% 0;
        }
    }
}

.sing {
    flex-basis: 30%;

    .btn {
        background-color: transparent;
        height: 100%;
        font-weight: 700;
        font-size: 16px;
        padding: 3% 13%;
        border-radius: 30px;
        color: $primary;
        border: 0;
        transition: transform 0.25s;

        &:active {
            transform: scale(0.8);
        }

        &-border {
            color: $danger;
            border: 2px solid $danger;

            &:hover {
                background: $danger;
                color: $light;
            }
        }
    }
}

.list-item {
    @include list-item();
}

@media (max-width:500px) {
    .navbar {
        flex-direction: row;
        justify-content: space-around;

        .sing-main,
        .list-group {
            display: none;
        }

        .menu-toggle {
            display: block;
            width: 15%;
        }
    }
}