$dark: #0B132A;
$grey: #4F5665;
$danger: #F53838;
$shadow: #d8d8d894;
$shadow-danger: #f53838a5;

.slider {
    width: 100%;
    padding: 3% 8%;
    text-align: center;
    box-shadow: 0px 15px 18px $shadow;

    h2 {
        color: $dark;
        font-size: 35px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
    }

    p {
        color: $grey;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: center;
    }

    .card {
        width: 40%;
        border-radius: 10px;
        margin: 3% auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        display: none;
        padding: 3%;
        align-items: center;

        h2 {
            font-family: Rubik;
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
        }

        h4 {
            font-family: Rubik;
            font-size: 14px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: center;
        }
    }

    .active {
        display: flex;
        border: 2px solid $danger;
    }

    .controls {
        display: flex;
        justify-content: center;
        align-items: center;

        #left,
        #right {
            margin-right: 2%;
            transition: transform 0.25s;

            &:active {
                transform: scale(0.8);
            }
        }
    }

    .controls-point-container {
        margin-right: 8%;

        .point {
            display: inline-block;
            width: 15px;
            height: 15px;
            background-color: $grey;
            border-radius: 50px;
            margin-top: 6%;
            cursor: pointer;

            &-active {
                width: 30px;
                background: $danger;
            }
        }
    }

    img {
        cursor: pointer;
    }

    .subscrive {
        width: 100%;
        margin: 2% auto;
        padding: 2% 3%;
        margin-bottom: -10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0px 15px 18px $shadow;
        background: #fff;

        .subscrive-label {
            h2 {
                color: $dark;
                font-size: 35px;
                font-weight: 500;
                line-height: 45px;
                text-align: start;
            }

            p {
                color: $grey;
                font-size: 16px;
                font-weight: 400;
                line-height: 30px;
                text-align: start;
            }
        }

        button {
            background: $danger;
            padding: 1.5% 4%;
            border-radius: 10px;
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            line-height: 25px;
            box-shadow: 0 10px 18px $shadow-danger;
            transition: transform 0.25s;

            &:active {
                transform: scale(0.8);
            }
        }
    }
}

@media (max-width:500px) {
    .slider {
        .card {
            width: 100%;
        }

        .controls {
            .point {
                display: none;
            }
        }

        .subscrive {
            flex-direction: column;
            margin-bottom: -15%;
            padding: 5% 3%;

            button {
                padding: 4% 6%;
            }
        }
    }
}